*{
  margin :0px;
}
header{
  height: 36px;
  background: linear-gradient(271.22deg, #0E3B8B -2.82%, rgba(0, 215, 255, 0.88) 122.31%, rgba(0, 215, 255, 0.88) 122.31%), #FFFFFF;
}
nav{
  height: 80px;
  background: #00001E;
}

.list-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    list-style: none;
    height: 50%;
    align-items: center;
    li{
      a{
        cursor: pointer;
        font-style: normal;
        font-size: 14px;
        font-family: sans-serif;
        color: #FFFFFF;
        text-decoration: none;
      }

    }

}

.login{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap:750px;
}

