*{
  margin :0px;
}

.container-footer
{
  display: flex;
  flex-direction: column;

}

.join-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #00001E;
  border: 1px solid #000000;
  height: 100px;
  justify-content: center;
  p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    }
    .media{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:30px;
      margin: 10px 10px 10px 10px;
    }
}

.footer-data{
  height: 92px;
  background: linear-gradient(271.22deg, #0E3B8B -2.82%, rgba(0, 215, 255, 0.88) 122.31%, rgba(0, 215, 255, 0.88) 122.31%), #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 5px;
  .reserved{
    font-family: 'Megabyte';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
  }
  .year{
    font-family: 'Megabyte';
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 23px;
  }
}
