.logout-google-btn{
 
    img{
      width: 36px;
      height: 36px;
    }
 
  }
  
   .logout{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    height: 36px;
   }
  
