.formContainer{
  width: 500px;
  height: 300px;
  justify-content: center;
  display: flex;
  padding: 30px;
  background: linear-gradient(271.22deg, #0E3B8B -2.82%, rgba(0, 215, 255, 0.88) 122.31%, rgba(0, 215, 255, 0.88) 122.31%), #FFFFFF;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 15px;

  input{
    font-weight: 400;
  }
  .row{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
}

.check{
  display: flex;
  flex-direction: row;
  gap:30px;
  div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.form p {
  color:black;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
input[type="number"].title {
  width: 40px;
}

.title{
  margin-left: 10px;
}