<div class="formContainer">
  <form (keydown.enter)="$event.preventDefault()" [formGroup]="registerForm">
    <div class="form">
      <div class="row">
        <div>
          <p>Name</p>
           <input [ngModel]="name" type="text" formControlName="name" class="title" placeholder="Name..." />
        </div>
        <div>
          <p>Lastname</p>
          <input [(ngModel)]="lastname" type="text" formControlName="lastname" class="title" placeholder="Lastname..." />
        </div>
      </div>
      <div class="row">
        <div>
          <p>Subjects </p>
          <select formControlName="subject_id" name="name" id="name"  [ngModel]="(clientId$|async)">
            <option  *ngFor = "let customer of getAllClient$ |async"
            value={{customer.id}}>{{customer.name}} </option>
          </select>
        </div>
      </div>
      <div>
        <p>Description</p>
        <textarea formControlName="description"  rows="4" cols="20" [ngModel]="description" ></textarea>
      </div>
      <div class="check">
        <div>
          <p>Note</p>
            <input type="string" formControlName="note" class="title" [ngModel]="note" />
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="registerForm.invalid" (click)="updateRegisterForm($event)">Update</button>
  </form>
</div>

