<div class="container">
  <div class="menu">
    <span class="border"></span>
    <div class="customer">
      <p>Subjects</p>
    </div>
      <div class="list-customer">
        <ul>
          <li class="item">
            <p class="client" >Assigned</p>
            <div class="count">
              <p class="number">{{assigned$ |async}}</p>
            </div>
          </li>
        <li class="item">
          <p class="client">Not Assigned</p>
          <div class="count">
            <p class="number">{{noAssigned$|async}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="search-box">
      <div class="lupe-box">
        <img class="lupe" src="./../../../../assets/media/product/Lupa.svg" alt="">
      </div>
      <input class="search" placeholder="search subject" [formControl]="search">
    </div>
    <div class="list-customer" >
      <ul  *ngFor="let customer of (getClient$| async) | search:FilterCostumer ">
        <li class="item" >
          <div>
            <div class="client" (click)="filterCustomer(customer.id)" >
              <p> {{customer.name}} </p>
            </div>
          </div>
          <div class="count">
            <p class="number">{{customer.number | async}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="btnMore">
      <app-button-more style="cursor:pointer;"></app-button-more>
    </div>
   </div>
  <div class="list">
     <app-list [filterClient]="filter" ></app-list>
  </div>
</div>
